$gray: #808080;
$white: #fefefe;
$green: #BADA55;
$darkgreen: #007000;
$red: #D24444;
$darkred: #801010;
$backgroundGrey: #fefefe;
$loginBoxShadow: #9a9a9a 0 0 2px,
                 #a8a8a8 0 0 12px,
                 #cecece 0 0 60px;
